function basename(str)
        local name = string.gsub(str, "(.*/)(.*)", "%2")
        return name
end

settings {
        logfile = "/var/log/lsyncd.geddoccu_test.log",
        statusFile = "/var/log/lsyncd.geddoccu_test.status.log",
        statusInterval = 1,
        insist = true
}
 
source_list = { 
        "/space/home/lad_test/GED/",
        "/space/home/lad_test_mhu/GED/",
}
 
for _, source in ipairs( source_list ) do
 
sync {
        default.rsync,
        delay=0,
        source=source,
        target="prefnt2.admin2:/space/home/lad_lsyncd_preprod/GED/",
        delete = false,
        exclude = { '/.ssh' },
        rsync = {
                archive = true,
                perms = true,
                owner = true,
                whole_file = true,
                rsh = "/usr/bin/ssh -l lad_lsyncd_preprod -p 22 -o StrictHostKeyChecking=no -i /space/home/lad_lsyncd_preprod/.ssh/rsync ",
                _extra = {"-a", "--remove-source-files"}
        }
}
end
